.cnblogs_code_toolbar
{
display:none;
}

.Code{
  background: #F8F8EE;
  border-left:solid 3px #6CE26C;
  border-top:dashed 1px #BBBBBB;
  border-right:dashed 1px #BBBBBB;
  border-bottom:dashed 1px #BBBBBB;    
  padding: 5px;
  margin: 0 5px 0 5px;
  font-family: Verdana,Helvetica, "微软雅黑" , Arial, "宋体";
}

#cnblogs_post_body h2 .cnblogs_code
{
background-color:#eeeeee;
  border-top:dashed 1px #BBBBBB;
  border-right:dashed 1px #BBBBBB;
  border-bottom:dashed 1px #BBBBBB; 
  padding: 5px;
  margin-left: 0em;
  font-family: Verdana,Helvetica, "微软雅黑" , Arial, "宋体";
   border-left:10px solid #B9E773;
}
.wp_codebox
{
background-color:#eeeeee;
  border-left:solid 4px #6CE26C;
  border-top:dashed 1px #BBBBBB;
  border-right:dashed 1px #BBBBBB;
  border-bottom:dashed 1px #BBBBBB; 
  padding: 5px;
  margin-left: 2em;
  font-family: Verdana,Helvetica, "微软雅黑" , Arial, "宋体";
}

div.post > h1
{
background-color:#169fe6;
color:white;
padding:5px;
padding-left:10px;
marggin:3px;
-moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
}

#cnblogs_post_body h2
{
background-color:#7DDEAF;
color:black;
padding:5px;
padding-left:10px;
marggin:3px;
-moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
}

#topics .postBody blockquote
{
   margin-left:2em;
   margin-top:5px;
   margin-bottom:5px;
}

div.post img
{
margin-left:2em;
margin-top:2px;
margin-bottom:2px;
}

div.post ol
{
padding:0px;
}

div.post table
{
margin-left:2em;
}